# Go to supabase.com and find these 
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Postgres database url (other databases are also supported. Check Prisma docs)
DATABASE_URL=

# JWT secret for authentication. Can be generated with `openssl rand -base64 32`
AUTH_SECRET=